.col-1 {
  width: 25%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 75%;
}

.col-4 {
  width: 100%;
}

.body {
  background: #111;
  color: #eee;
}

.m-0 {
  margin: 0px;
}

.m-1 {
  margin: 4px;
}

.m-2 {
  margin: 8px;
}
